<h1>SignUp To Create Your To-Do List</h1>

<form method="POST" action="/signup">
	<input type="text" name="username" placeholder="Username" required>
	<input type="text" name="email" placeholder="Email" required>
	<input type="text" name="password" placeholder="Password" required>
	<input type="submit" value="Signup">
</form>

<h4><a href="/login">Login</a></h4>
